@use "@/styles/variables.scss" as *;

.personalInfo {
  width: 100%;
  max-width: 736px;
  height: fit-content;
  position: relative;

  &__edit {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    gap: 4px;

    &:hover {
      filter: brightness(1.15);
    }
  }

  &__editTitle {
    font-size: 14px;
    line-height: 16px;
    color: $yellow-color;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }
}
