@use "@/styles/variables.scss" as *;

.postActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    gap: 24px;
  }

  &__liked {
    path {
      fill: $error-color;
    }
  }

  &__commented {
    path {
      fill: $main-blue;
    }
  }

  &__saved {
    path {
      fill: $main-yellow;
    }
  }
}
