@use "@/styles/variables.scss" as *;

.deleteAccountModal {
  display: flex;
  flex-direction: column;

  &__content {
    border: 1px solid rgba(220, 38, 38, 0.3);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__deleteIcon {
    width: 70px;
    height: 70px;
    background: rgba(220, 38, 38, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $white-color;
  }

  &__description {
    color: $gray-color;
    margin-top: 6px;
  }

  &__input {
    margin-top: 24px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    margin-top: 24px;
  }

  &__button {
    width: 50%;
  }
}
