@use "@/styles/variables.scss" as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 96px;
    line-height: 96px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4.8px;
    color: $white-color;
  }

  &__subtitle {
    font-size: 30px;
    line-height: 36px;
    color: $text-color;
    text-transform: uppercase;
    margin-top: 16px;
  }

  &__description {
    font-size: 20px;
    line-height: 28px;
    color: $gray-color;
    margin-top: 16px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    margin-top: 32px;
  }
}
