@use "@/styles/variables.scss" as *;

.dashboard {
  display: flex;

  &__content {
    flex: 1;
    background: $tertiary-black;
    display: flex;
    flex-direction: column;
  }

  &__children {
    padding: 32px;
  }
}
