@use "@/styles/variables.scss" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;

  &__content {
    background-color: $secondary-black;
    padding: 32px;
    border-radius: 10px;
    width: 100%;
    max-width: 548px;
    border: 1px solid $border-yellow; 

    &_black {
      background-color: $main-black;
    }
  }
}
