@use "@/styles/variables.scss" as *;

.profile {
  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__name {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $white-color;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: $gray-color;
  }

  &__infoWrapper {
    display: flex;
    gap: 16px;
  }

  &__infoBlock {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__country {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__countryFlag {
    width: 20px;
    height: 14px;
  }
}
