$main-black: #000;
$secondary-black: #171717;
$main-yellow: #eab308;

/* Text */
$text-color: #d1d5db;
$white-color: #fff;
$gray-color: #9ca3af;
$error-color: #df2629;

/* Borders */
$border-color: #262626;
