@use "@/styles/variables.scss" as *;

.register {
  width: 100%;

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $white-color;
  }

  &__description {
    color: $gray-color;
    margin-top: 8px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 34px;
  }

  &__button {
    width: 100%;
    margin-top: 16px;
  }
}
