@use "@/styles/variables.scss" as *;

.page {
  --background: #000;
  --foreground: #000;

  --text-primary: #ededed;
  --text-secondary: #999;

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #1a1a1a;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 1280px;
    background-color: var(--foreground);
    padding-top: 180px;
  }

  &__infoCards {
    margin-top: 64px;
  }
}
