@use "@/styles/variables.scss" as *;

.tabs {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid $border-color;

  &__tab {
    padding: 10px 20px;
    color: $gray-color;
    width: 224px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__tabActive {
    color: $white-color !important;
    border-bottom: 2px solid $main-yellow;

    svg {
      path {
        fill: $main-white;
      }
    }
  }
}
