@use "@/styles/variables.scss" as *;

.dangerZone {
  max-width: 736px;
  border: 1px solid $border-red !important;
  background: $gradient-red !important;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
