.createComment {
  display: flex;
  gap: 12px;

  &__textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 8px;
  }

  &__textareaInput {
    width: 100%;
  }
}
