@use "@/styles/variables.scss" as *;

.comment {
  display: flex;
  gap: 12px;

  &__wrapper {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid $border-color;
    background: $tertiary-black;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }

  &__options {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__username {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: $white-color;

    &:hover {
      opacity: 0.8;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 16px;
    color: $gray-color;
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
    margin-top: 8px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }

  &__liked {
    path {
      fill: $error-color;
    }
  }
}
