@use "@/styles/variables.scss" as *;

.button {
  padding: 10px 20px;
  transition: filter 0.2s ease;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    filter: brightness(1.15);
  }

  &.primary {
    background-color: $main-yellow;
    color: $main-black;
    border: 2px solid $main-yellow;
  }

  &.secondary {
    background-color: $main-black;
    color: $main-yellow;
    border: 2px solid $main-yellow;
  }

  &.danger {
    background-color: $error-color;
    color: $white-color;
    border: 2px solid $error-color;
  }

  &.success {
    background-color: $green-color;
    color: $white-color;
    border: 2px solid $green-color;
  }

  &_borderRadius {
    border-radius: 8px;
  }

  &_loading {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &_uppercase {
    text-transform: uppercase;
  }
}
