@use "@/styles/variables.scss" as *;

.button {
  padding: 10px 20px;
  text-transform: uppercase;
  transition: filter 0.2s ease;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid $main-yellow;

  &:hover {
    filter: brightness(1.15);
  }

  &.primary {
    background-color: $main-yellow;
    color: $main-black;
  }

  &.secondary {
    background-color: $main-black;
    color: $main-yellow;
  }

  &.borderRadius {
    border-radius: 8px;
  }
}
